@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Open Sans", "sans-serif";
    }
    li > a {
        @apply hover:text-gold-200;
    }
    body {
        @apply relative min-h-screen pb-footer;
    }
    main {
        @apply pt-nav;
    }

    .hide-scrollbar {
        -ms-osverflow-style: none;
        scrollbar-width: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .container {
        @apply max-w-desktop mx-auto w-4/5 2xl:w-full;
    }
    .btn {
        @apply text-white font-bold rounded-full shadow-btn disabled:bg-gray-100 disabled:shadow-none disabled:pointer-events-none text-base py-[19px] w-full;
    }
    .btn-gold {
        @apply btn bg-gold-200 hover:bg-gold-100;
    }
}
